
/*1. 设置深度为第4层的两个p标签样式*/
.box1 {
    width: 500px;
    height: 500px;
    background-color: tomato;
}
.box1 .box2 {
    width: 300px;
    height: 300px;
    background-color: darkcyan;
}
.box1 .box2 .box3 {
    width: 200px;
    height: 200px;
    background-color: pink;
}
.box1 .box2 .box3 p {
    font-size: 20px;
    color: grey;
}
.box1 .box2 .box3 p:hover {
    color: green;
}


/*2. 制作两个圆形盒子*/
.c1 {
    width: 100px;
    height: 100px;
    background-color: tomato;
    /*50%; 参考的是整个盒子的尺寸*/
    /*border-radius: 50%;*/
    border-radius: 50px;
    text-align: center;
    /*公式: height - 2 * 边框宽度*/
    line-height: 80px;
    border: 10px solid cyan;
    box-sizing: border-box;

}
.c2 {
    width: 80px;
    height: 80px;
    background-color: darkcyan;
    /*50%; 参考的是整个盒子的尺寸*/
    /*border-radius: 50%;*/
    border-radius: 40px;
    text-align: center;
    /*公式: height - 2 * 边框宽度*/
    line-height: 60px;
    border: 10px solid cyan;
    box-sizing: border-box;
}
.c1:hover,
.c2:hover {
    color: green;
}




