form {
    width: 300px;
    height: 100px;
    border: 1px dashed tomato;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input[type="submit"] {
    background-color: tomato;
    color: #fff;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 5px 0;
}
